.nb-periodic-table-table {
  display: block;
  width: 100%;
  max-width: none; }
  .nb-periodic-table-table tbody {
    display: block; }

.nb-periodic-table-row {
  display: block; }

.nb-periodic-table-cell {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  padding: 0;
  margin: 0 auto;
  background: #eee;
  border: 1px solid #ccc; }
  .nb-periodic-table-cell--empty {
    display: none;
    background: transparent;
    border: none; }

.nb-periodic-table-element {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: table;
  position: relative;
  padding: .5em;
  width: 100%; }
  .nb-periodic-table-element__basic-data {
    display: table-cell;
    width: 25%;
    vertical-align: top; }
  .nb-periodic-table-element__extra-data {
    display: table-cell;
    width: 75%;
    vertical-align: top; }
  .nb-periodic-table-element__atomic-number {
    display: block;
    position: absolute;
    top: .25em;
    left: .5em;
    padding-right: .5em;
    font-size: 0.75em;
    line-height: 1.5; }
  .nb-periodic-table-element__symbol {
    display: block;
    margin: 0 auto;
    padding: .5em 0 .25em;
    text-align: center;
    font-size: 1.25em;
    line-height: 1.5; }
  .nb-periodic-table-element__name {
    display: block;
    margin: 0 auto;
    font-size: 0.75em;
    line-height: 1.5; }
  .nb-periodic-table-element__properties {
    display: table;
    width: 100%; }
  .nb-periodic-table-element__atomic-mass {
    display: table-cell;
    margin: 0 auto;
    width: 50%;
    text-align: left;
    font-size: 0.75em;
    line-height: 1.5; }
  .nb-periodic-table-element__electronegativity {
    display: table-cell;
    margin: 0 auto;
    width: 50%;
    text-align: left;
    font-size: 0.75em;
    line-height: 1.5; }
