.nb-pt-category-legend {
  display: inline-block;
  vertical-align: top; }

.nb-pt-category-legend-table {
  display: table;
  border-collapse: collapse;
  width: auto; }
  .nb-pt-category-legend-table caption {
    display: none; }

.nb-pt-category-legend-row {
  display: table-row; }
  .nb-pt-category-legend-row:last-child .nb-pt-category-legend-cell {
    padding-bottom: 0; }

.nb-pt-category-legend-cell {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: table-cell;
  padding: 0 2em 0.25em 0;
  vertical-align: top; }
  .nb-pt-category-legend-cell:nth-child(2n+2) {
    padding-right: 0; }

.nb-pt-category-legend-item {
  display: block;
  line-height: 1.5;
  text-align: left; }
  .nb-pt-category-legend-item__swatch {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    float: left;
    border: 1px solid #ccc; }
  .nb-pt-category-legend-item__label {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    margin-left: 2.25em; }
  .nb-pt-category-legend-item[data-category='metalloid'] .nb-pt-category-legend-item__swatch {
    background: #8dd3c7; }
  .nb-pt-category-legend-item[data-category='unknown-properties'] .nb-pt-category-legend-item__swatch {
    background: #ffffb3; }
  .nb-pt-category-legend-item[data-category='alkali-metal'] .nb-pt-category-legend-item__swatch {
    background: #bebada; }
  .nb-pt-category-legend-item[data-category='alkaline-earth-metal'] .nb-pt-category-legend-item__swatch {
    background: #fb8072; }
  .nb-pt-category-legend-item[data-category='lanthanide'] .nb-pt-category-legend-item__swatch {
    background: #80b1d3; }
  .nb-pt-category-legend-item[data-category='actinide'] .nb-pt-category-legend-item__swatch {
    background: #fdb462; }
  .nb-pt-category-legend-item[data-category='transition-metal'] .nb-pt-category-legend-item__swatch {
    background: #b3de69; }
  .nb-pt-category-legend-item[data-category='post-transition-metal'] .nb-pt-category-legend-item__swatch {
    background: #fccde5; }
  .nb-pt-category-legend-item[data-category='polyatomic-nonmetal'] .nb-pt-category-legend-item__swatch {
    background: #d9d9d9; }
  .nb-pt-category-legend-item[data-category='diatomic-nonmetal'] .nb-pt-category-legend-item__swatch {
    background: #bc80bd; }
  .nb-pt-category-legend-item[data-category='noble-gas'] .nb-pt-category-legend-item__swatch {
    background: #ccebc5; }

.nb-pt-element-legend {
  display: inline-block;
  vertical-align: top; }
  .nb-pt-element-legend--at-wide {
    margin-right: 6em; }
  .nb-pt-element-legend__caption {
    margin: 1.5em auto;
    line-height: 1.5; }
  .nb-pt-element-legend__subject {
    position: relative;
    display: inline-block;
    vertical-align: top;
    z-index: 0; }
    .nb-pt-element-legend__subject .nb-pt-element {
      display: inline-block;
      width: 5em;
      padding: .5em;
      background: #eee;
      border: 1px solid #ccc; }
  .nb-pt-element-legend__notes {
    position: relative;
    display: inline-block;
    vertical-align: top;
    z-index: 1; }
    .nb-pt-element-legend__notes--left {
      margin-right: .75em; }
      .nb-pt-element-legend__notes--left .nb-pt-element .nb-pt-element-legend__connector {
        right: -1.75em; }
      .nb-pt-element-legend__notes--left .nb-pt-element__atomic-number {
        top: 0;
        margin-bottom: -1em; }
      .nb-pt-element-legend__notes--left .nb-pt-element__atomic-number, .nb-pt-element-legend__notes--left .nb-pt-element__symbol, .nb-pt-element-legend__notes--left .nb-pt-element__name, .nb-pt-element-legend__notes--left .nb-pt-element__atomic-mass, .nb-pt-element-legend__notes--left .nb-pt-element__electronegativity {
        position: relative;
        text-align: right; }
      .nb-pt-element-legend__notes--left .nb-pt-element__symbol, .nb-pt-element-legend__notes--left .nb-pt-element__name, .nb-pt-element-legend__notes--left .nb-pt-element__atomic-mass, .nb-pt-element-legend__notes--left .nb-pt-element__electronegativity {
        display: none; }
    .nb-pt-element-legend__notes--right {
      margin-left: .75em; }
      .nb-pt-element-legend__notes--right .nb-pt-element .nb-pt-element-legend__connector {
        left: -1.75em; }
      .nb-pt-element-legend__notes--right .nb-pt-element__atomic-number {
        top: 0;
        margin-bottom: -1em; }
      .nb-pt-element-legend__notes--right .nb-pt-element__atomic-number, .nb-pt-element-legend__notes--right .nb-pt-element__symbol, .nb-pt-element-legend__notes--right .nb-pt-element__name, .nb-pt-element-legend__notes--right .nb-pt-element__atomic-mass, .nb-pt-element-legend__notes--right .nb-pt-element__electronegativity {
        position: relative;
        text-align: left; }
      .nb-pt-element-legend__notes--right .nb-pt-element__electronegativity {
        display: none; }
    .nb-pt-element-legend__notes .nb-pt-element {
      display: inline-block;
      width: auto;
      max-width: none;
      background: none;
      border-color: transparent; }
      .nb-pt-element-legend__notes .nb-pt-element .nb-pt-element-legend__connector {
        border-top: 1px solid #999;
        display: block;
        position: absolute;
        top: 0.75em;
        width: 1.25em;
        height: 1px; }
      .nb-pt-element-legend__notes .nb-pt-element__atomic-number {
        left: auto; }
      .nb-pt-element-legend__notes .nb-pt-element__atomic-number .nb-pt-element-legend__note, .nb-pt-element-legend__notes .nb-pt-element__symbol .nb-pt-element-legend__note, .nb-pt-element-legend__notes .nb-pt-element__name .nb-pt-element-legend__note, .nb-pt-element-legend__notes .nb-pt-element__atomic-mass .nb-pt-element-legend__note, .nb-pt-element-legend__notes .nb-pt-element__electronegativity .nb-pt-element-legend__note {
        display: inline-block;
        position: relative;
        font-family: inherit;
        line-height: 1.5;
        font-style: normal;
        font-weight: normal;
        white-space: nowrap; }
      .nb-pt-element-legend__notes .nb-pt-element__atomic-number .nb-pt-element-legend__note {
        margin: -0.54545em 0; }
      .nb-pt-element-legend__notes .nb-pt-element__symbol .nb-pt-element-legend__note {
        margin: -0.33333em 0; }
      .nb-pt-element-legend__notes .nb-pt-element__name .nb-pt-element-legend__note {
        margin: -0.54545em 0; }
      .nb-pt-element-legend__notes .nb-pt-element__atomic-mass .nb-pt-element-legend__note {
        margin: -0.54545em 0; }
      .nb-pt-element-legend__notes .nb-pt-element__electronegativity .nb-pt-element-legend__note {
        margin: -0.54545em 0; }

.nb-pt-legend {
  display: inline-block; }

.nb-pt-table {
  border-collapse: collapse;
  margin: 0 auto; }

.nb-pt-cell {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  vertical-align: top;
  padding: 0;
  border: 1px solid #ccc; }
  .nb-pt-cell--axis {
    border: none;
    text-align: center;
    vertical-align: bottom; }
    .nb-pt-cell--axis .nb-pt-label {
      display: inline-block;
      font-family: inherit;
      line-height: 1;
      font-style: inherit;
      font-weight: inherit;
      padding: 1em 0; }
  .nb-pt-cell--empty {
    border: none; }
    .nb-pt-cell--empty .nb-pt-element {
      height: 1em; }

.nb-pt-element {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border-collapse: collapse;
  position: relative;
  width: 100%; }
  .nb-pt-element__basic {
    vertical-align: middle; }
  .nb-pt-element__extended {
    vertical-align: middle; }
  .nb-pt-element__atomic-number {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    position: absolute;
    text-align: left;
    font-family: inherit;
    line-height: 1; }
  .nb-pt-element__symbol {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-family: inherit;
    line-height: 1; }
  .nb-pt-element__name {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    position: relative;
    margin: 0 auto;
    font-family: inherit;
    line-height: 1; }
  .nb-pt-element__properties {
    border-collapse: collapse;
    width: 100%; }
  .nb-pt-element__atomic-mass {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    padding: .25em 0;
    font-family: inherit;
    line-height: 1;
    font-style: inherit;
    font-weight: inherit; }
  .nb-pt-element__electronegativity {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    font-family: inherit;
    line-height: 1;
    font-style: inherit;
    font-weight: inherit; }

.nb-pt-cell {
  background: #eee; }
  .nb-pt-cell--axis {
    background: transparent; }
  .nb-pt-cell--empty {
    background: transparent; }

.nb-pt-legend {
  padding: 0;
  border: 0; }

.nb-pt-element-legend--at-default {
  display: inline-block; }

.nb-pt-element-legend--at-wide {
  display: none; }

.nb-pt-element-legend__caption {
  font-size: 14px;
  font-size: 0.875rem; }
  .nb-pt-element-legend__caption .nb-pt-element__atomic-number, .nb-pt-element-legend__caption .nb-pt-element__symbol, .nb-pt-element-legend__caption .nb-pt-element__name, .nb-pt-element-legend__caption .nb-pt-element__atomic-mass, .nb-pt-element-legend__caption .nb-pt-element__electronegativity {
    display: inline;
    position: inherit;
    top: auto;
    left: auto;
    right: auto;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    text-align: inherit; }

.nb-pt-category-legend--at-default {
  display: none; }

.nb-pt-category-legend--at-wide {
  display: none; }

.nb-pt-category-legend-item {
  font-size: 14px;
  font-size: 0.875rem; }

.nb-pt-table {
  display: block;
  width: 100%;
  max-width: 24em; }
  .nb-pt-table tbody {
    display: block; }

.nb-pt-row {
  display: block; }

.nb-pt-cell {
  display: block;
  margin: 0 auto -1px; }
  .nb-pt-cell--axis {
    display: none; }
    .nb-pt-cell--axis .nb-pt-label {
      font-size: 14px;
      font-size: 0.875rem; }
  .nb-pt-cell--empty {
    display: none; }
  .nb-pt-cell--blockholder {
    display: none; }
  .nb-pt-cell--at-default {
    display: block; }
  .nb-pt-cell--at-wide {
    display: none; }

.nb-pt-element {
  display: table;
  padding: .5em; }
  .nb-pt-element__basic {
    display: table-cell;
    width: 33%; }
  .nb-pt-element__extended {
    display: table-cell;
    width: 67%; }
  .nb-pt-element__atomic-number {
    font-size: 14px;
    font-size: 0.875rem;
    top: 0.75em;
    left: 0.5em; }
  .nb-pt-element__symbol {
    padding: 1.5em 0;
    font-size: 18px;
    font-size: 1.125rem; }
  .nb-pt-element__name {
    padding: 0.25em 0;
    text-align: left;
    font-size: 14px;
    font-size: 0.875rem; }
  .nb-pt-element__properties {
    display: table; }
  .nb-pt-element__atomic-mass {
    display: table-cell;
    width: 50%;
    text-align: left;
    font-size: 14px;
    font-size: 0.875rem; }
  .nb-pt-element__electronegativity {
    position: relative;
    display: table-cell;
    top: auto;
    right: auto;
    padding: .25em 0;
    width: 50%;
    text-align: left;
    font-size: 14px;
    font-size: 0.875rem; }

.nb-pt-table--18 .nb-pt-cell {
  width: 100%; }
