{%- macro elementCell(element, showAtDefault=false, showAtWide=false, addClassName="") %}
  {%- set className = "nb-pt-cell" %}
  {%- if showAtDefault %}
    {%- set className = className + " nb-pt-cell--at-default" %}
  {%- endif %}
  {%- if showAtWide %}
    {%- set className = className + " nb-pt-cell--at-wide" %}
  {%- endif %}
  {%- if addClassName %}
    {%- set className = className + " " + addClassName %}
  {%- endif %}
<td class="{{ className }}" data-block="{{ element.block }}" data-category="{{ element.category }}">
  <span class="nb-pt-element">
    <span class="nb-pt-element__basic">
      <span class="nb-pt-element__atomic-number">
        {{ element.atomicNumber }}
      </span>
      <span class="nb-pt-element__symbol">
        {{ element.symbol }}
      </span>
    </span>
    <span class="nb-pt-element__extended">
      <span class="nb-pt-element__name">
        {{ element.name }}
      </span>
      <span class="nb-pt-element__properties">
        <span class="nb-pt-element__atomic-mass">
          {%- if element.atomicMass %}
            {{ element.atomicMass }}
          {%- endif %}
        </span>
        <span class="nb-pt-element__electronegativity">
          {%- if element.electronegativity %}
            {{ element.electronegativity }}
          {%- endif %}
        </span>
      </span>
    </span>
  </span>
</td>
{%- endmacro %}
