@import 'src/css/variables';
@import 'src/css/mixins';

main {
  padding: 1em 0;
  text-align: center;
}

header {
  text-align: left;
}

.constraint {
  margin: 0 auto;
  padding: 0 1em;

  &--content {
    max-width: 62em;
  }
}

.legends {
  display: none;
}

@media (min-width: 62em) {
  .legends {
    display: inline-block;
    padding: 1em;
    border: 1px dotted $nb-periodic-table-cell-border;

    .element-legend {
      display: inline-block;
      vertical-align: top;
    }

    .category-legend {
      display: inline-block;
      vertical-align: top;
      margin-left: 6em;
    }
  }

  @include periodic-table-color('category');
  @include periodic-table-size;
}
