@import 'src/css/variables';
@import 'src/css/mixins';

main {
  padding: 1em 0;
}

.constraint {
  margin: 0 auto;
  padding: 0 1em;

  &--content {
    max-width: 62em;
  }
}

.category-legend {
  display: none;
}

@media (min-width: 62em) {
  .category-legend {
    display: block;
  }

  @include periodic-table-color('category');
  @include periodic-table-size;
}
