@import 'bourbon';
@import 'variables';
@import 'mixins';

.nb-periodic-table-category-legend {
  display: table;
  width: auto;
}

.nb-periodic-table-category-legend-row {
  display: table-row;
}

.nb-periodic-table-category-legend-cell {
  box-sizing: border-box;
  display: table-cell;
  padding: 0 2em 0 0;
  width: 50%;
  vertical-align: top;
}

.nb-periodic-table-category-legend-item {
  $block: '.nb-periodic-table-category-legend-item';

  @include clearfix;
  display: block;

  &__swatch {
    box-sizing: border-box;
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    float: left;
  }

  &__label {
    display: block;
    margin-left: 1.5em;
  }

  &[data-category='metalloid'] {
    #{$block}__swatch {
      background: $nb-periodic-table-metalloid-bg;
    }
  }

  &[data-category='unknown-properties'] {
    #{$block}__swatch {
      background: $nb-periodic-table-unknown-properties-bg;
    }
  }

  &[data-category='alkali-metal'] {
    #{$block}__swatch {
      background: $nb-periodic-table-alkali-metal-bg;
    }
  }

  &[data-category='alkaline-earth-metal'] {
    #{$block}__swatch {
      background: $nb-periodic-table-alkaline-earth-metal-bg;
    }
  }

  &[data-category='lanthanide'] {
    #{$block}__swatch {
      background: $nb-periodic-table-lanthanide-bg;
    }
  }

  &[data-category='actinide'] {
    #{$block}__swatch {
      background: $nb-periodic-table-actinide-bg;
    }
  }

  &[data-category='transition-metal'] {
    #{$block}__swatch {
      background: $nb-periodic-table-transition-metal-bg;
    }
  }

  &[data-category='post-​transition-metal'] {
    #{$block}__swatch {
      background: $nb-periodic-table-post-​transition-metal-bg;
    }
  }

  &[data-category='polyatomic-nonmetal'] {
    #{$block}__swatch {
      background: $nb-periodic-table-polyatomic-nonmetal-bg;
    }
  }

  &[data-category='diatomic-nonmetal'] {
    #{$block}__swatch {
      background: $nb-periodic-table-diatomic-nonmetal-bg;
    }
  }

  &[data-category='noble-gas'] {
    #{$block}__swatch {
      background: $nb-periodic-table-noble-gas-bg;
    }
  }
}
