@import 'bourbon';
@import 'variables';
@import 'mixins';

.nb-periodic-table-category-legend {
  display: inline-block;
  vertical-align: top;
}

.nb-periodic-table-category-legend-table {
  display: table;
  border-collapse: collapse;
  width: auto;

  caption {
    display: none;
  }
}

.nb-periodic-table-category-legend-row {
  display: table-row;

  &:last-child {
    .nb-periodic-table-category-legend-cell {
      padding-bottom: 0;
    }
  }
}

.nb-periodic-table-category-legend-cell {
  box-sizing: border-box;
  display: table-cell;
  padding: 0 ($nb-periodic-table-legend-padding-horz * 2) ($nb-periodic-table-legend-padding-horz * .25) 0;
  vertical-align: top;

  &:nth-child(2n+2) {
    padding-right: 0;
  }
}

.nb-periodic-table-category-legend-item {
  $block: '.nb-periodic-table-category-legend-item';
  $swatch-size: ($nb-periodic-table-legend-line-height * 1em);

  display: block;
  line-height: $nb-periodic-table-legend-line-height;
  text-align: left;

  &__swatch {
    box-sizing: border-box;
    display: inline-block;
    width: $swatch-size;
    height: $swatch-size;
    vertical-align: middle;
    float: left;
    border: 1px solid $nb-periodic-table-cell-border;
  }

  &__label {
    box-sizing: border-box;
    display: block;
    margin-left: $swatch-size + .75em;
  }

  &[data-category='metalloid'] {
    #{$block}__swatch {
      background: $nb-periodic-table-metalloid-bg;
    }
  }

  &[data-category='unknown-properties'] {
    #{$block}__swatch {
      background: $nb-periodic-table-unknown-properties-bg;
    }
  }

  &[data-category='alkali-metal'] {
    #{$block}__swatch {
      background: $nb-periodic-table-alkali-metal-bg;
    }
  }

  &[data-category='alkaline-earth-metal'] {
    #{$block}__swatch {
      background: $nb-periodic-table-alkaline-earth-metal-bg;
    }
  }

  &[data-category='lanthanide'] {
    #{$block}__swatch {
      background: $nb-periodic-table-lanthanide-bg;
    }
  }

  &[data-category='actinide'] {
    #{$block}__swatch {
      background: $nb-periodic-table-actinide-bg;
    }
  }

  &[data-category='transition-metal'] {
    #{$block}__swatch {
      background: $nb-periodic-table-transition-metal-bg;
    }
  }

  &[data-category='post-​transition-metal'] {
    #{$block}__swatch {
      background: $nb-periodic-table-post-transition-metal-bg;
    }
  }

  &[data-category='polyatomic-nonmetal'] {
    #{$block}__swatch {
      background: $nb-periodic-table-polyatomic-nonmetal-bg;
    }
  }

  &[data-category='diatomic-nonmetal'] {
    #{$block}__swatch {
      background: $nb-periodic-table-diatomic-nonmetal-bg;
    }
  }

  &[data-category='noble-gas'] {
    #{$block}__swatch {
      background: $nb-periodic-table-noble-gas-bg;
    }
  }
}
