@import 'bourbon';
@import 'variables';
@import 'mixins';

.nb-pt-category-legend {
  display: inline-block;
  vertical-align: top;
}

.nb-pt-category-legend-table {
  display: table;
  border-collapse: collapse;
  width: auto;

  caption {
    display: none;
  }
}

.nb-pt-category-legend-row {
  display: table-row;

  &:last-child {
    .nb-pt-category-legend-cell {
      padding-bottom: 0;
    }
  }
}

.nb-pt-category-legend-cell {
  box-sizing: border-box;
  display: table-cell;
  padding: 0 ($nb-periodic-table-legend-padding-horz * 2) ($nb-periodic-table-legend-padding-horz * .25) 0;
  vertical-align: top;

  &:nth-child(2n+2) {
    padding-right: 0;
  }
}

.nb-pt-category-legend-item {
  $block: '.nb-pt-category-legend-item';
  $swatch-size: ($nb-periodic-table-legend-label-line-height * 1em);

  display: block;
  line-height: $nb-periodic-table-legend-label-line-height;
  text-align: left;

  &__swatch {
    box-sizing: border-box;
    display: inline-block;
    width: $swatch-size;
    height: $swatch-size;
    vertical-align: middle;
    float: left;
    border: 1px solid $nb-periodic-table-cell-border;
  }

  &__label {
    box-sizing: border-box;
    display: block;
    margin-left: $swatch-size + .75em;
  }

  @each $category in map-keys($nb-periodic-table-category-color-map) {
    $color: map-get($nb-periodic-table-category-color-map, $category);

    &[data-category='#{$category}'] {
      #{$block}__swatch {
        background: $color;
      }
    }
  }
}
