@mixin periodic-table-color($style: 'default') {
  .nb-periodic-table-cell {
    @if $style == 'block' {
      &[data-block='s'] {
        background: $nb-periodic-table-s-block-bg;
      }

      &[data-block='p'] {
        background: $nb-periodic-table-p-block-bg;
      }

      &[data-block='d'] {
        background: $nb-periodic-table-d-block-bg;
      }

      &[data-block='f'] {
        background: $nb-periodic-table-f-block-bg;
      }
    }
    @else if $style == 'category' {
      &[data-category='metalloid'] {
        background: $nb-periodic-table-metalloid-bg;
      }

      &[data-category='unknown-properties'] {
        background: $nb-periodic-table-unknown-properties-bg;
      }

      &[data-category='alkali-metal'] {
        background: $nb-periodic-table-alkali-metal-bg;
      }

      &[data-category='alkaline-earth-metal'] {
        background: $nb-periodic-table-alkaline-earth-metal-bg;
      }

      &[data-category='lanthanide'] {
        background: $nb-periodic-table-lanthanide-bg;
      }

      &[data-category='actinide'] {
        background: $nb-periodic-table-actinide-bg;
      }

      &[data-category='transition-metal'] {
        background: $nb-periodic-table-transition-metal-bg;
      }

      &[data-category='post-​transition-metal'] {
        background: $nb-periodic-table-post-​transition-metal-bg;
      }

      &[data-category='polyatomic-nonmetal'] {
        background: $nb-periodic-table-polyatomic-nonmetal-bg;
      }

      &[data-category='diatomic-nonmetal'] {
        background: $nb-periodic-table-diatomic-nonmetal-bg;
      }

      &[data-category='noble-gas'] {
        background: $nb-periodic-table-noble-gas-bg;
      }
    }
    @else {
      background: $nb-periodic-table-cell-bg;
    }

    &--empty {
      background: transparent;
    }
  }
}

@mixin periodic-table-size($size: 'default') {
  @if $size == 'wide' {
    .nb-periodic-table-legend {
      padding: $nb-periodic-table-legend-padding-vert $nb-periodic-table-legend-padding-horz;
      border: 1px dotted $nb-periodic-table-cell-border;
    }

    .nb-periodic-table-element-legend {
      &--at-default {
        display: none;
      }

      &--at-wide {
        display: inline-block;
      }
    }

    .nb-periodic-table-category-legend {
      &--at-default {
        display: none;
      }

      &--at-wide {
        display: inline-block;
      }
    }

    .nb-periodic-table-table {
      display: table;
      max-width: none;

      tbody {
        display: table-row-group;
      }
    }

    .nb-periodic-table-row {
      display: table-row;
    }

    .nb-periodic-table-cell {
      display: table-cell;
      margin: 0;

      &--empty {
        display: table-cell;
      }

      &--blockholder {
        display: table-cell;
      }

      &--at-default {
        display: none;
      }

      &--at-wide {
        display: table-cell;
      }
    }

    .nb-periodic-table-element {
      display: block;
      padding: .5em .25em;

      &__basic {
        display: block;
        width: 100%;
      }

      &__extended {
        display: block;
        width: 100%;
      }

      &__atomic-number {
        font-size: $nb-periodic-table-number-font-size--wide;
      }

      &__symbol {
        padding: .8em 0 ($nb-periodic-table-name-font-size / $nb-periodic-table-symbol-font-size * .4em);
        font-size: $nb-periodic-table-symbol-font-size--wide;
      }

      &__name {
        padding: .25em 0;
        text-align: center;
        font-size: $nb-periodic-table-name-font-size--wide;
      }

      &__properties {
        display: block;
      }

      &__atomic-mass {
        display: block;
        width: 100%;
        text-align: center;
        font-size: $nb-periodic-table-property-font-size--wide;
      }

      &__electronegativity {
        display: block;
        width: 100%;
        text-align: center;
        font-size: $nb-periodic-table-property-font-size--wide;
      }
    }

    .nb-periodic-table-table--18 {
      .nb-periodic-table-cell {
        width: (100% / 18);
      }
    }
  }
  @else {
    .nb-periodic-table-legend {
      padding: 0;
      border: 0;
    }

    .nb-periodic-table-element-legend {
      &--at-default {
        display: inline-block;
      }

      &--at-wide {
        display: none;
      }
    }

    .nb-periodic-table-category-legend {
      &--at-default {
        display: none;
      }

      &--at-wide {
        display: none;
      }
    }

    .nb-periodic-table-table {
      display: block;
      max-width: 24em;

      tbody {
        display: block;
      }
    }

    .nb-periodic-table-row {
      display: block;
    }

    .nb-periodic-table-cell {
      display: block;
      margin: 0 auto -1px;

      &--empty {
        display: none;
      }

      &--blockholder {
        display: none;
      }

      &--at-default {
        display: block;
      }

      &--at-wide {
        display: none;
      }
    }

    .nb-periodic-table-element {
      display: table;
      padding: .5em;

      &__basic {
        display: table-cell;
        width: 33%;
      }

      &__extended {
        display: table-cell;
        width: 67%;
      }

      &__atomic-number {
        font-size: $nb-periodic-table-number-font-size;
      }

      &__symbol {
        padding: 1.25em 0;
        font-size: $nb-periodic-table-symbol-font-size;
      }

      &__name {
        padding: .25em 0 .5em;
        text-align: left;
        font-size: $nb-periodic-table-name-font-size;
      }

      &__properties {
        display: table;
      }

      &__atomic-mass {
        display: table-cell;
        width: 50%;
        text-align: left;
        font-size: $nb-periodic-table-property-font-size;
      }

      &__electronegativity {
        display: table-cell;
        width: 50%;
        text-align: left;
        font-size: $nb-periodic-table-property-font-size;
      }
    }

    .nb-periodic-table-table--18 {
      .nb-periodic-table-cell {
        width: 100%;
      }
    }
  }
}
