@mixin nb-periodic-table-color($style: 'default') {
  .nb-pt-cell {
    @if $style == 'block' {
      @each $block in map-keys($nb-periodic-table-block-color-map) {
        $color: map-get($nb-periodic-table-block-color-map, $block);

        &[data-block='#{$block}'] {
          background: $color;
        }
      }
    }
    @else if $style == 'category' {
      @each $category in map-keys($nb-periodic-table-category-color-map) {
        $color: map-get($nb-periodic-table-category-color-map, $category);

        &[data-category='#{$category}'] {
          background: $color;
        }
      }
    }
    @else {
      background: $nb-periodic-table-cell-bg;
    }

    &--axis {
      background: transparent;
    }

    &--empty {
      background: transparent;
    }
  }
}

@mixin nb-periodic-table-size($size: 'default') {
  @if $size == 'wide' {
    .nb-pt-legend {
      padding: $nb-periodic-table-legend-padding-vert $nb-periodic-table-legend-padding-horz;
      border: 1px dotted $nb-periodic-table-cell-border;
    }

    .nb-pt-element-legend {
      &--at-default {
        display: none;
      }

      &--at-wide {
        display: inline-block;
      }

      &__caption {
        font-size: $nb-periodic-table-legend-label-font-size--wide;
      }

      &__notes {
        .nb-pt-element {
          &__atomic-number,
          &__symbol,
          &__name,
          &__atomic-mass,
          &__electronegativity {
            .nb-pt-element-legend__note {
              font-size: $nb-periodic-table-legend-label-font-size--wide;
            }
          }
        }
      }
    }

    .nb-pt-category-legend {
      &--at-default {
        display: none;
      }

      &--at-wide {
        display: inline-block;
      }
    }

    .nb-pt-category-legend-item {
      font-size: $nb-periodic-table-legend-label-font-size--wide;
    }

    .nb-pt-table {
      display: table;
      width: auto;
      max-width: none;

      tbody {
        display: table-row-group;
      }
    }

    .nb-pt-row {
      display: table-row;
    }

    .nb-pt-cell {
      display: table-cell;
      margin: 0;

      &--axis {
        display: table-cell;

        .nb-pt-label {
          font-size: $nb-periodic-table-axis-label-font-size--wide;
        }
      }

      &--empty {
        display: table-cell;
      }

      &--blockholder {
        display: table-cell;
      }

      &--at-default {
        display: none;
      }

      &--at-wide {
        display: table-cell;
      }
    }

    .nb-pt-element {
      display: block;
      padding: .5em .25em;

      &__basic {
        display: block;
        width: 100%;
      }

      &__extended {
        display: block;
        width: 100%;
      }

      &__atomic-number {
        font-size: $nb-periodic-table-atomic-number-font-size--wide;
        top: $nb-periodic-table-atomic-number-y--wide;
        left: $nb-periodic-table-atomic-number-x--wide;
      }

      &__symbol {
        font-size: $nb-periodic-table-symbol-font-size--wide;
        padding: $nb-periodic-table-symbol-padding-top--wide $nb-periodic-table-symbol-padding-right--wide $nb-periodic-table-symbol-padding-bottom--wide $nb-periodic-table-symbol-padding-left--wide;
      }

      &__name {
        font-size: $nb-periodic-table-name-font-size--wide;
        padding: $nb-periodic-table-name-padding-vert--wide $nb-periodic-table-name-padding-horz--wide;
        text-align: center;
      }

      &__properties {
        display: block;
      }

      &__atomic-mass {
        display: block;
        width: 100%;
        text-align: center;
        font-size: $nb-periodic-table-atomic-mass-font-size--wide;
      }

      &__electronegativity {
        position: absolute;
        display: block;
        top: $nb-periodic-table-electronegativity-y--wide;
        right: $nb-periodic-table-electronegativity-x--wide;
        padding: 0;
        width: 100%;
        text-align: right;
        font-size: $nb-periodic-table-electronegativity-font-size--wide;
      }
    }

    .nb-pt-table--18 {
      .nb-pt-cell {
        width: (100% / 18);
      }
    }
  }
  @else {
    .nb-pt-legend {
      padding: 0;
      border: 0;
    }

    .nb-pt-element-legend {
      &--at-default {
        display: inline-block;
      }

      &--at-wide {
        display: none;
      }

      &__caption {
        font-size: $nb-periodic-table-legend-label-font-size;

        .nb-pt-element {
          &__atomic-number,
          &__symbol,
          &__name,
          &__atomic-mass,
          &__electronegativity {
            display: inline;
            position: inherit;
            top: auto;
            left: auto;
            right: auto;
            padding: 0;
            font-size: inherit;
            line-height: inherit;
            text-align: inherit;
          }
        }
      }
    }

    .nb-pt-category-legend {
      &--at-default {
        display: none;
      }

      &--at-wide {
        display: none;
      }
    }

    .nb-pt-category-legend-item {
      font-size: $nb-periodic-table-legend-label-font-size;
    }

    .nb-pt-table {
      display: block;
      width: 100%;
      max-width: 24em;

      tbody {
        display: block;
      }
    }

    .nb-pt-row {
      display: block;
    }

    .nb-pt-cell {
      display: block;
      margin: 0 auto -1px;

      &--axis {
        display: none;

        .nb-pt-label {
          font-size: $nb-periodic-table-axis-label-font-size;
        }
      }

      &--empty {
        display: none;
      }

      &--blockholder {
        display: none;
      }

      &--at-default {
        display: block;
      }

      &--at-wide {
        display: none;
      }
    }

    .nb-pt-element {
      display: table;
      padding: .5em;

      &__basic {
        display: table-cell;
        width: 33%;
      }

      &__extended {
        display: table-cell;
        width: 67%;
      }

      &__atomic-number {
        font-size: $nb-periodic-table-atomic-number-font-size;
        top: $nb-periodic-table-atomic-number-y;
        left: $nb-periodic-table-atomic-number-x;
      }

      &__symbol {
        padding: 1.5em 0;
        font-size: $nb-periodic-table-symbol-font-size;
      }

      &__name {
        padding: $nb-periodic-table-name-padding-vert $nb-periodic-table-name-padding-horz;
        text-align: left;
        font-size: $nb-periodic-table-name-font-size;
      }

      &__properties {
        display: table;
      }

      &__atomic-mass {
        display: table-cell;
        width: 50%;
        text-align: left;
        font-size: $nb-periodic-table-atomic-mass-font-size;
      }

      &__electronegativity {
        position: relative;
        display: table-cell;
        top: $nb-periodic-table-electronegativity-y;
        right: $nb-periodic-table-electronegativity-x;
        padding: .25em 0;
        width: 50%;
        text-align: left;
        font-size: $nb-periodic-table-electronegativity-font-size;
      }
    }

    .nb-pt-table--18 {
      .nb-pt-cell {
        width: 100%;
      }
    }
  }
}
