@import 'bourbon';
@import 'variables';
@import 'mixins';

.nb-periodic-table-table {
  border-collapse: collapse;
  margin: 0 auto;
}

.nb-periodic-table-cell {
  box-sizing: border-box;
  display: block;
  vertical-align: top;
  padding: 0;
  border: 1px solid $nb-periodic-table-cell-border;

  &--axis {
    border: none;
    text-align: center;
    vertical-align: bottom;

    .nb-periodic-table-label {
      display: inline-block;
      font-family: $nb-periodic-table-axis-label-font-family;
      font-size: $nb-periodic-table-axis-label-font-size;
      line-height: $nb-periodic-table-axis-label-line-height;
      padding: $nb-periodic-table-axis-label-padding-vert $nb-periodic-table-axis-label-padding-horz;
    }
  }

  &--empty {
    border: none;

    .nb-periodic-table-element {
      height: $nb-periodic-table-empty-cell-height;
    }
  }
}

.nb-periodic-table-element {
  box-sizing: border-box;
  border-collapse: collapse;
  position: relative;
  width: 100%;

  &__basic {
    vertical-align: middle;
  }

  &__extended {
    vertical-align: middle;
  }

  &__atomic-number {
    box-sizing: border-box;
    display: block;
    position: absolute;
    text-align: left;
    font-family: $nb-periodic-table-atomic-number-font-family;
    line-height: $nb-periodic-table-atomic-number-line-height;
  }

  &__symbol {
    box-sizing: border-box;
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-family: $nb-periodic-table-symbol-font-family;
    line-height: $nb-periodic-table-symbol-line-height;
  }

  &__name {
    box-sizing: border-box;
    display: block;
    position: relative;
    margin: 0 auto;
    font-family: $nb-periodic-table-name-font-family;
    line-height: $nb-periodic-table-name-line-height;
  }

  &__properties {
    border-collapse: collapse;
    width: 100%;
  }

  &__atomic-mass {
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    padding: .25em 0;
    font-family: $nb-periodic-table-property-font-family;
    line-height: $nb-periodic-table-property-line-height;
    font-style: $nb-periodic-table-atomic-mass-font-style;
    font-weight: $nb-periodic-table-atomic-mass-font-weight;
  }

  &__electronegativity {
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    font-family: $nb-periodic-table-property-font-family;
    line-height: $nb-periodic-table-property-line-height;
    font-style: $nb-periodic-table-electronegativity-font-style;
    font-weight: $nb-periodic-table-electronegativity-font-weight;
  }
}
