@import 'bourbon';
@import 'variables';
@import 'mixins';

.nb-periodic-table-table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
}

.nb-periodic-table-cell {
  box-sizing: border-box;
  display: block;
  vertical-align: top;
  padding: 0;
  border: 1px solid $nb-periodic-table-cell-border;

  &--empty {
    border: none;

    .nb-periodic-table-element {
      height: 1.5em;
    }
  }
}

.nb-periodic-table-element {
  box-sizing: border-box;
  border-collapse: collapse;
  position: relative;
  width: 100%;

  &__basic {
    vertical-align: middle;
  }

  &__extended {
    vertical-align: middle;
  }

  &__atomic-number {
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: .75em;
    left: .5em;
    padding-right: .5em;
    text-align: left;
    line-height: $nb-periodic-table-number-line-height;
  }

  &__symbol {
    box-sizing: border-box;
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: center;
    line-height: $nb-periodic-table-symbol-line-height;
  }

  &__name {
    box-sizing: border-box;
    display: block;
    position: relative;
    margin: 0 auto;
    line-height: $nb-periodic-table-name-line-height;
  }

  &__properties {
    border-collapse: collapse;
    width: 100%;
  }

  &__atomic-mass {
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    padding: .25em 0;
    line-height: $nb-periodic-table-property-line-height;
  }

  &__electronegativity {
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    padding: .25em 0;
    line-height: $nb-periodic-table-property-line-height;
  }
}

@include periodic-table-color;
@include periodic-table-size;
