@import 'chrys';

$nb-periodic-table-cell-bg:                       #eee !default;
$nb-periodic-table-cell-border:                   #ccc !default;

$nb-periodic-table-empty-cell-height:             1em !default;

$nb-periodic-table-legend-padding-vert:           1em !default;
$nb-periodic-table-legend-padding-horz:           1em !default;
$nb-periodic-table-legend-label-font-family:      inherit !default;
$nb-periodic-table-legend-label-font-size:        (14/16) * 1rem !default;
$nb-periodic-table-legend-label-font-size--wide:  (12/16) * 1rem !default;
$nb-periodic-table-legend-label-line-height:      1.5 !default;

$nb-periodic-table-atomic-number-font-family:     inherit !default;
$nb-periodic-table-atomic-number-font-size:       (14/16) * 1rem !default;
$nb-periodic-table-atomic-number-font-size--wide: (11/16) * 1rem !default;
$nb-periodic-table-atomic-number-line-height:     1 !default;
$nb-periodic-table-atomic-number-x:               .5em !default;
$nb-periodic-table-atomic-number-y:               .75em !default;
$nb-periodic-table-atomic-number-x--wide:         .75em !default;
$nb-periodic-table-atomic-number-y--wide:         .75em !default;

$nb-periodic-table-symbol-font-family:            inherit !default;
$nb-periodic-table-symbol-font-size:              (18/16) * 1rem !default;
$nb-periodic-table-symbol-font-size--wide:        (18/16) * 1rem !default;
$nb-periodic-table-symbol-line-height:            1 !default;
$nb-periodic-table-symbol-padding-top--wide:      1em !default;
$nb-periodic-table-symbol-padding-right--wide:    0 !default;
$nb-periodic-table-symbol-padding-bottom--wide:   .25em !default;
$nb-periodic-table-symbol-padding-left--wide:     0 !default;

$nb-periodic-table-name-font-family:              inherit !default;
$nb-periodic-table-name-font-size:                (14/16) * 1rem !default;
$nb-periodic-table-name-font-size--wide:          (11/16) * 1rem !default;
$nb-periodic-table-name-line-height:              1 !default;
$nb-periodic-table-name-padding-vert:             .25em !default;
$nb-periodic-table-name-padding-horz:             0 !default;
$nb-periodic-table-name-padding-vert--wide:       .25em !default;
$nb-periodic-table-name-padding-horz--wide:       0 !default;

$nb-periodic-table-atomic-mass-font-family:       inherit !default;
$nb-periodic-table-atomic-mass-font-size:         (14/16) * 1rem !default;
$nb-periodic-table-atomic-mass-font-size--wide:   (11/16) * 1rem !default;
$nb-periodic-table-atomic-mass-line-height:       1 !default;
$nb-periodic-table-atomic-mass-font-style:        inherit !default;
$nb-periodic-table-atomic-mass-font-weight:       inherit !default;

$nb-periodic-table-electronegativity-font-family: inherit !default;
$nb-periodic-table-electronegativity-font-size:   (14/16) * 1rem !default;
$nb-periodic-table-electronegativity-font-size--wide: (11/16) * 1rem !default;
$nb-periodic-table-electronegativity-line-height: 1 !default;
$nb-periodic-table-electronegativity-font-style:  inherit !default;
$nb-periodic-table-electronegativity-font-weight: inherit !default;
$nb-periodic-table-electronegativity-x:           auto !default;
$nb-periodic-table-electronegativity-y:           auto !default;
$nb-periodic-table-electronegativity-x--wide:     .75em !default;
$nb-periodic-table-electronegativity-y--wide:     .75em !default;

$nb-periodic-table-axis-label-font-family:        inherit !default;
$nb-periodic-table-axis-label-font-size:          (11/16) * 1rem !default;
$nb-periodic-table-axis-label-line-height:        1 !default;
$nb-periodic-table-axis-label-padding-vert:       1em !default;
$nb-periodic-table-axis-label-padding-horz:       0 !default;

$nb-periodic-table-s-block-bg:                    #ff9999 !default;
$nb-periodic-table-p-block-bg:                    #fdff8c !default;
$nb-periodic-table-d-block-bg:                    #99ccff !default;
$nb-periodic-table-f-block-bg:                    #9bff99 !default;

$category-color-map:                              map-get(map-get($chrys-color-map, 'brewer-set3'), 11);
$nb-periodic-table-metalloid-bg:                  nth($category-color-map, 1) !default;
$nb-periodic-table-unknown-properties-bg:         nth($category-color-map, 2) !default;
$nb-periodic-table-alkali-metal-bg:               nth($category-color-map, 3) !default;
$nb-periodic-table-alkaline-earth-metal-bg:       nth($category-color-map, 4) !default;
$nb-periodic-table-lanthanide-bg:                 nth($category-color-map, 5) !default;
$nb-periodic-table-actinide-bg:                   nth($category-color-map, 6) !default;
$nb-periodic-table-transition-metal-bg:           nth($category-color-map, 7) !default;
$nb-periodic-table-post-transition-metal-bg:      nth($category-color-map, 8) !default;
$nb-periodic-table-polyatomic-nonmetal-bg:        nth($category-color-map, 9) !default;
$nb-periodic-table-diatomic-nonmetal-bg:          nth($category-color-map, 10) !default;
$nb-periodic-table-noble-gas-bg:                  nth($category-color-map, 11) !default;
