$nb-periodic-table-cell-bg:                       #eee !default;
$nb-periodic-table-cell-border:                   #ccc !default;

$nb-periodic-table-legend-padding-vert:           1em !default;
$nb-periodic-table-legend-padding-horz:           1em !default;

$nb-periodic-table-legend-font-size:              (14/16) * 1rem !default;
$nb-periodic-table-legend-font-size--wide:        (12/16) * 1rem !default;
$nb-periodic-table-legend-line-height:            1.5 !default;

$nb-periodic-table-number-font-size:              (14/16) * 1rem !default;
$nb-periodic-table-number-font-size--wide:        (11/16) * 1rem !default;
$nb-periodic-table-number-line-height:            1 !default;
$nb-periodic-table-number-x:                      .5em !default;
$nb-periodic-table-number-y:                      .75em !default;
$nb-periodic-table-number-x--wide:                .75em !default;
$nb-periodic-table-number-y--wide:                .75em !default;

$nb-periodic-table-symbol-font-size:              (18/16) * 1rem !default;
$nb-periodic-table-symbol-font-size--wide:        (18/16) * 1rem !default;
$nb-periodic-table-symbol-line-height:            1 !default;

$nb-periodic-table-name-font-size:                (14/16) * 1rem !default;
$nb-periodic-table-name-font-size--wide:          (11/16) * 1rem !default;
$nb-periodic-table-name-line-height:              1 !default;

$nb-periodic-table-property-font-size:            (14/16) * 1rem !default;
$nb-periodic-table-property-font-size--wide:      (11/16) * 1rem !default;
$nb-periodic-table-property-line-height:          1 !default;

$nb-periodic-table-s-block-bg:                    #ff9999 !default;
$nb-periodic-table-p-block-bg:                    #fdff8c !default;
$nb-periodic-table-d-block-bg:                    #99ccff !default;
$nb-periodic-table-f-block-bg:                    #9bff99 !default;

$nb-periodic-table-metalloid-bg:                  #cccc99 !default;
$nb-periodic-table-unknown-properties-bg:         #e8e8e8 !default;
$nb-periodic-table-alkali-metal-bg:               #ff6666 !default;
$nb-periodic-table-alkaline-earth-metal-bg:       #ffdead !default;
$nb-periodic-table-lanthanide-bg:                 #ffbfff !default;
$nb-periodic-table-actinide-bg:                   #ff99cc !default;
$nb-periodic-table-transition-metal-bg:           #ffc0c0 !default;
$nb-periodic-table-post-​transition-metal-bg:      #cccccc !default;
$nb-periodic-table-polyatomic-nonmetal-bg:        #a1ffc3 !default;
$nb-periodic-table-diatomic-nonmetal-bg:          #e7ff8f !default;
$nb-periodic-table-noble-gas-bg:                  #c0ffff !default;
