$nb-periodic-table-cell-bg:                       #eee !default;
$nb-periodic-table-cell-border:                   #ccc !default;

$nb-periodic-table-symbol-font-size:              1.25em !default;
$nb-periodic-table-symbol-line-height:            1.5 !default;

$nb-periodic-table-atomic-number-font-size:       .75em !default;
$nb-periodic-table-atomic-number-line-height:     1.5 !default;

$nb-periodic-table-name-font-size:                .75em !default;
$nb-periodic-table-name-line-height:              1.5 !default;

$nb-periodic-table-atomic-mass-font-size:         .75em !default;
$nb-periodic-table-atomic-mass-line-height:       1.5 !default;

$nb-periodic-table-electronegativity-font-size:   .75em !default;
$nb-periodic-table-electronegativity-line-height: 1.5 !default;
