@import "variables";
@import "mixins";

.nb-periodic-table-table {
  display: block;
  width: 100%;
  max-width: none;

  tbody {
    display: block;
  }
}

.nb-periodic-table-row {
  display: block;
}

.nb-periodic-table-cell {
  box-sizing: border-box;
  display: block;
  padding: 0;
  margin: 0 auto -1px;
  background: $nb-periodic-table-cell-bg;
  border: 1px solid $nb-periodic-table-cell-border;

  &:last-child {
    margin-bottom: 0;
  }

  &--empty {
    display: none;
    background: transparent;
    border: none;
  }

  &--blockholder {
    display: none;
  }

  &--at-wide {
    display: none;
  }

  // &[data-block="s"] {
  //   background: #ff9999;
  // }
  //
  // &[data-block="p"] {
  //   background: #fdff8c;
  // }
  //
  // &[data-block="d"] {
  //   background: #99ccff;
  // }
  //
  // &[data-block="f"] {
  //   background: #9bff99;
  // }

  &[data-category="metalloid"] {
    background: $nb-periodic-table-metalloid-bg;
  }

  &[data-category="unknown-properties"] {
    background: $nb-periodic-table-unknown-properties-bg;
  }

  &[data-category="alkali-metal"] {
    background: $nb-periodic-table-alkali-metal-bg;
  }

  &[data-category="alkaline-earth-metal"] {
    background: $nb-periodic-table-alkaline-earth-metal-bg;
  }

  &[data-category="lanthanide"] {
    background: $nb-periodic-table-lanthanide-bg;
  }

  &[data-category="actinide"] {
    background: $nb-periodic-table-actinide-bg;
  }

  &[data-category="transition-metal"] {
    background: $nb-periodic-table-transition-metal-bg;
  }

  &[data-category="post-​transition-metal"] {
    background: $nb-periodic-table-post-​transition-metal-bg;
  }

  &[data-category="polyatomic-nonmetal"] {
    background: $nb-periodic-table-polyatomic-nonmetal-bg;
  }

  &[data-category="diatomic-nonmetal"] {
    background: $nb-periodic-table-diatomic-nonmetal-bg;
  }

  &[data-category="noble-gas"] {
    background: $nb-periodic-table-noble-gas-bg;
  }
}

.nb-periodic-table-element {
  box-sizing: border-box;
  display: table;
  position: relative;
  padding: .5em;
  width: 100%;

  &__basic-data {
    display: table-cell;
    width: 33%;
    vertical-align: middle;
  }

  &__extra-data {
    display: table-cell;
    width: 67%;
    vertical-align: middle;
  }

  &__atomic-number {
    display: block;
    position: absolute;
    top: .35em;
    left: .5em;
    padding-right: .5em;
    font-size: $nb-periodic-table-atomic-number-font-size;
    line-height: $nb-periodic-table-atomic-number-line-height;
  }

  &__symbol {
    display: block;
    margin: 0 auto;
    padding: .4em 0;
    text-align: center;
    font-size: $nb-periodic-table-symbol-font-size;
    line-height: $nb-periodic-table-symbol-line-height;
  }

  &__name {
    display: block;
    margin: 0 auto;
    font-size: $nb-periodic-table-name-font-size;
    line-height: $nb-periodic-table-name-line-height;
  }

  &__properties {
    display: table;
    width: 100%;
  }

  &__atomic-mass {
    display: table-cell;
    margin: 0 auto;
    width: 50%;
    text-align: left;
    font-size: $nb-periodic-table-atomic-mass-font-size;
    line-height: $nb-periodic-table-atomic-mass-line-height;
  }

  &__electronegativity {
    display: table-cell;
    margin: 0 auto;
    width: 50%;
    text-align: left;
    font-size: $nb-periodic-table-electronegativity-font-size;
    line-height: $nb-periodic-table-electronegativity-line-height;
  }
}
