{%- macro elementCell(element, showAtDefault=false, showAtWide=false) %}
<td class="nb-periodic-table-cell{% if showAtDefault %} nb-periodic-table-cell--at-default{% endif %}{% if showAtWide %} nb-periodic-table-cell--at-wide{% endif %}" data-block="{{ element.block }}" data-category="{{ element.category }}">
  <span class="nb-periodic-table-element">
    <span class="nb-periodic-table-element__basic-data">
      <span class="nb-periodic-table-element__atomic-number">
        {{ element.atomicNumber }}
      </span>
      <span class="nb-periodic-table-element__symbol">
        {{ element.symbol }}
      </span>
    </span>
    <span class="nb-periodic-table-element__extra-data">
      <span class="nb-periodic-table-element__name">
        {{ element.name }}
      </span>
      {%- if element.atomicMass or element.electronegativity %}
        <span class="nb-periodic-table-element__properties">
          {%- if element.atomicMass %}
            <span class="nb-periodic-table-element__atomic-mass">
              {{ element.atomicMass }}
            </span>
          {%- endif %}
          {%- if element.electronegativity %}
            <span class="nb-periodic-table-element__electronegativity">
              {{ element.electronegativity }}
            </span>
          {%- endif %}
        </span>
      {%- endif %}
    </span>
  </span>
</td>
{%- endmacro %}
