{%- macro offsetElementCell(start, end, category) %}
<td class="nb-periodic-table-cell nb-periodic-table-cell--offset" data-category="{{ category }}">
  <span class="nb-periodic-table-element">
    <span class="nb-periodic-table-element__atomic-number">{{ start }} - {{ end }}</span>
  </span>
</td>
{%- endmacro %}
