{%- from "./element-cell.njk" import elementCell %}
{%- from "./empty-cell.njk" import emptyCell %}
{%- from "./offset-element-cell.njk" import offsetElementCell %}

{%- macro periodicTable(elements) %}
<table class="nb-periodic-table-table nb-periodic-table-table--18">
  <tr class="nb-periodic-table-row">
    {%- for element in elements %}
      {%- if element.atomicNumber == 3 or element.atomicNumber == 11 or element.atomicNumber == 19 or element.atomicNumber == 37 or element.atomicNumber == 55 or element.atomicNumber == 87 %}
  </tr>
  <tr class="nb-periodic-table-row">
      {%- endif %}

      {%- if element.atomicNumber == 2 %}
        {%- for i in range(0, 16) %}{{ emptyCell() }}{%- endfor %}
      {%- elif element.atomicNumber == 5 %}
        {%- for i in range(0, 10) %}{{ emptyCell() }}{%- endfor %}
      {%- elif element.atomicNumber == 13 %}
        {%- for i in range(0, 10) %}{{ emptyCell() }}{%- endfor %}
      {%- endif %}

      {%- if element.atomicNumber == 57 %}
        {{ offsetElementCell(57, 71, "lanthanide") }}
      {%- elif element.atomicNumber == 89 %}
        {{ offsetElementCell(89, 103, "actinide") }}
      {%- elif element.atomicNumber < 57 or (element.atomicNumber > 71 and element.atomicNumber < 89) or element.atomicNumber > 103 %}
        {{ elementCell(element) }}
      {%- endif %}
    {%- endfor %}
  </tr>

  <tr class="nb-periodic-table-row">
    {%- for i in range(0, 18) %}{{ emptyCell() }}{%- endfor %}
  </tr>

  <tr class="nb-periodic-table-row">
    {{ emptyCell() }}
    {{ emptyCell() }}
    {%- for element in elements %}
      {%- if element.atomicNumber >= 57 and element.atomicNumber <= 71 %}
        {{ elementCell(element) }}
      {%- endif %}
    {%- endfor %}
    {{ emptyCell() }}
  </tr>

  <tr class="nb-periodic-table-row">
    {{ emptyCell() }}
    {{ emptyCell() }}
    {%- for element in elements %}
      {%- if element.atomicNumber >= 89 and element.atomicNumber <= 103 %}
        {{ elementCell(element) }}
      {%- endif %}
    {%- endfor %}
    {{ emptyCell() }}
  </tr>
</table>
{%- endmacro %}
