{%- from "./axis-cell.njk" import axisCell %}
{%- from "./element-cell.njk" import elementCell %}
{%- from "./empty-cell.njk" import emptyCell %}
{%- from "./blockholder-element-cell.njk" import blockholderElementCell %}

{%- macro table(elements, groups) %}
<table class="nb-pt-table nb-pt-table--18">
  <tr class="nb-pt-row">
    {%- for i in range(0, 18) %}
      {%- if i == 0 or i == 17 %}
        {{ axisCell(groups[i + 1] | safe) }}
      {%- else %}
        {{ emptyCell() }}
      {%- endif %}
    {%- endfor %}
  </tr>
  <tr class="nb-pt-row">
    {%- for element in elements %}
      {%- if element.atomic_number == 3 or element.atomic_number == 11 or element.atomic_number == 19 or element.atomic_number == 37 or element.atomic_number == 55 or element.atomic_number == 87 %}
  </tr>
  <tr class="nb-pt-row">
      {%- endif %}

      {%- if element.atomic_number == 2 %}
        {%- for i in range(0, 16) %}
          {%- if i == 0 or i >= 11 %}
            {{ axisCell(groups[1 + i + 1] | safe) }}
          {%- else %}
            {{ emptyCell() }}
          {%- endif %}
        {%- endfor %}
      {%- elif element.atomic_number == 5 %}
        {%- for i in range(0, 10) %}{{ emptyCell() }}{%- endfor %}
      {%- elif element.atomic_number == 13 %}
        {%- for i in range(0, 10) %}{{ axisCell(groups[2 + i + 1] | safe) }}{%- endfor %}
      {%- endif %}

      {%- if element.atomic_number == 57 %}
        {{ blockholderElementCell(57, 71, "lanthanide") }}
      {%- elif element.atomic_number == 89 %}
        {{ blockholderElementCell(89, 103, "actinide") }}
      {%- endif %}

      {%- if element.atomic_number >= 57 and element.atomic_number <= 71 %}
        {{ elementCell(element, true) }}
      {%- elif element.atomic_number >= 89 and element.atomic_number <= 103 %}
        {{ elementCell(element, true) }}
      {%- else %}
        {{ elementCell(element) }}
      {%- endif %}
    {%- endfor %}
  </tr>

  <tr class="nb-pt-row">
    {%- for i in range(0, 18) %}{{ emptyCell() }}{%- endfor %}
  </tr>

  <tr class="nb-pt-row">
    {{ emptyCell() }}
    {{ emptyCell() }}
    {%- for element in elements %}
      {%- if element.atomic_number >= 57 and element.atomic_number <= 71 %}
        {{ elementCell(element, false, true) }}
      {%- endif %}
    {%- endfor %}
    {{ emptyCell() }}
  </tr>

  <tr class="nb-pt-row">
    {{ emptyCell() }}
    {{ emptyCell() }}
    {%- for element in elements %}
      {%- if element.atomic_number >= 89 and element.atomic_number <= 103 %}
        {{ elementCell(element, false, true) }}
      {%- endif %}
    {%- endfor %}
    {{ emptyCell() }}
  </tr>
</table>
{%- endmacro %}
